fastapi>=0.110.0
uvicorn[standard]>=0.28.0
pydantic>=2.6.0
python-dotenv>=1.0.1
langgraph 
langchain 
langchain-groq 
python-dotenv
langchain_text_splitters
langchain_google_genai
pinecone
langchain_pinecone
langgraph-checkpoint-postgres 
psycopg[binary]
psycopg[pool]
sqlmodel
psycopg2